.navbar{
  background-color: #0096C7;
  height: 70px;
  padding: 0px 0px 0px 0px; 
}

.container{
   
    padding: 10px 0px 10px 10px; 
}

body {
    padding: 0px 0px 0px 0px;
    z-index: 0; 
    background-color: #F0F2ED;
}

h5{
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 16px;
   color:#344c55;
}
a{
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color:#adacac;

}
p{
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color:#919090;

}


#foot{

  background-color: #ffffff;
  padding: 20px 20px 50px 0px;
  margin-right: 0px;
  margin-left: 50px;
  
}

footer{
  background-color: #ffffff;
}

.buttons {
  
    padding-right: 30px;
}

html, body {
  height:100%;

}
.card_button{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  
}
.fa-cart-plus{
  color: floralwhite;
  size: 20px;
}
.fa-sign-in{
  color: floralwhite;
}
.login_button{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 20px;
}

.search-form {
  border-radius: 0 30px 30px 0;
  min-width: 30%;
}

input-group-btn {
  min-width:30px;
}

#search {
  border: 1px;
}

.search-btn {
  cursor:pointer;
  border-radius: 30px 0px 0px 30px; 
  background-color:#fff;
  color: #C2C2C2;
}



.home_page{
  background-color: rgb(80, 16, 163);
  min-height: 400px;
}
/*For the carousel*/

.row-content {
  margin: 30px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.carousel {
    background: #512DA8; }
    .carousel .carousel-item {
      height: 300px; }
      .carousel .carousel-item img {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 300px; 
      }

      /*To change the arrows color*/
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        height: 35px;
        width: 35px;
        outline: rgb(228, 218, 218);
        background-size: 40%, 10%;
        border-radius: 50%;
        border: 0.1px solid #ddd6d6;
        background-color: floralwhite;
        
        
      
      }

/*For the color of the arrows*/
      
.carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    
.carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
      

  


